@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
}

* :active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  font-family: "Gilroy";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

h1 {
  font-size: 58px;
  line-height: 78px;
  font-weight: 700;
}

h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.hidden {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
}

header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23.4375%;
}

.logo img {
  width: 31.66667%;
  max-width: 95px;
}

.logo span {
  width: 63.33333%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #099DBA;
}

.address span, .working span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #099DBA;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.address small, .working small {
  display: block;
  color: #474551;
  font-size: 14px;
  line-height: 17px;
}

.address {
  width: 190px;
  margin: 0 60px;
}

.address span::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon/MapPin.png");
  margin-right: 8px;
}

.address small {
  font-weight: 600;
}

.working {
  width: 160px;
}

.working span::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon/Clock.png");
  margin-right: 8px;
}

.working small {
  font-weight: 400;
}

.social {
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.phones {
  width: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 60px;
}

.phones span {
  color: #474551;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.phones small {
  color: #099DBA;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  margin-top: 2px;
}

.menuBtn {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 20px;
  padding: 15px 10px;
}

.menuBtn-line1, .menuBtn-line2, .menuBtn-line3 {
  height: 6px;
  background-color: #099DBA;
  border: none;
  border-radius: 10px;
  margin-bottom: 6px;
}

.menuBtn-line3 {
  width: 33.33px;
}

@media screen and (max-width: 1024px) {
  header {
    height: 130px;
  }
  .container {
    width: 96%;
    max-width: 980px;
  }
  .logo {
    width: 238px;
  }
  .logo span {
    font-size: 16px;
    line-height: 19px;
  }
  .address {
    margin-left: 13px;
    margin-right: 30px;
  }
  .phones {
    width: 160px;
    margin-left: 20px;
  }
  .phones span {
    font-size: 18px;
    line-height: 25px;
  }
}

.menuBtn {
  display: inline-block;
  margin-left: 11px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 728px;
  }
  .address {
    margin-left: 30px;
  }
  .working, .phones {
    display: none;
  }
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32px;
    height: 74px;
  }
  .menuBtn {
    margin-left: 30px;
  }
}

@media screen and (max-width: 320px) {
  header {
    background-color: #F3FEFE;
  }
  .container {
    max-width: 280px;
  }
  .logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo img {
    width: 63px;
  }
  .logo span {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }
  .address, .social {
    display: none;
  }
}
