h1
  font-size: 58px
  line-height: 78px
  font-weight: 700

h2
  font-weight: 500
  font-size: 42px
  line-height: 50px

h3
  font-weight: 500
  font-size: 28px
  line-height: 34px

h4
  font-weight: 400
  font-size: 18px
  line-height: 22px

strong
  color: $sk

.btn
  // width: 180px
  font-size: 20px
  line-height: 25px
  font-weight: 600
  color: $c1
  padding: 7.5px 0
  border: 2px solid $c1
  border-radius: 30px
  box-shadow: $bsh
  &-sk
    color: #ffffff
    background-color: $sk
    padding: 9px 45.5px
    border: none
  &-c3
    background-color: $c3
    padding: 7.5px 36.5px
  &-gray
    background: rgba(255, 255, 255, 0.6)
.container
  display: flex
  flex-wrap: wrap
  // justify-content: start
  align-items: start
  width: 90%
  max-width: $wc*1px
  margin: 0 auto

.section
  margin-bottom: 90px
  &-title
    width: 100%
    color: $c5
    font-weight: 500
    font-size: 42px
    line-height: 50px
    text-align: center
    margin-bottom: 30px
  &-subtitle
    width: 1066/$wc*100%
    color: $c1
    font-weight: 600
    font-size: 28px
    line-height: 39px
    text-align: center
    margin: 0 auto 60px

.social
  width: 65px
  display: flex
  justify-content: space-between
  margin-left: auto

.hidden
  display: none
